//colors
$yellow: #ffca05;
$red: #ef4e38;
$orange: #f6911e;
$teal: #3dbca6;
$navy: #273354;
$beige: #ccb7a3;
$white: #fffef9;

$primary: $teal;
$secondary: $orange;

$font-family-sans-serif: 'MesCompromis', Helvetica, arial, sans-serif;
$body-bg: $white;
$body-color: $navy;
$link-hover-color: $orange;

@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/_mixins';